/* :root {
  --background-color: white;
  --contrast-color: #111111;
  --axis-color: #e3e3e3;
  --attribute-color: #333333;
} */

:root {
  --background-color: #111111;
  --contrast-color: white;
  --axis-color: #333333;
  --attribute-color: #999999;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--contrast-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  user-select: none;
}

p,
label {
  font-size: 14px;
}

button {
  background-color: var(--axis-color);
  border: none;
  border-radius: 3px;
  color: var(--contrast-color);
  min-width: 40px;
  min-height: 24px;
}

button:disabled {
  background-color: var(--attribute-color);
  color: var(--background-color);
}

* {
  box-sizing: border-box;
}
