/* :root {
  --background-color: #ffffff;
  --contrast-color: #111111;
  --axis-color: #e3e3e3;
  --attribute-color: #333333;
  --small-font: 14px;
} */

/**
 * Global
 */
:root {
  --background-color: #111111;
  --contrast-color: white;
  --axis-color: #333333;
  --attribute-color: #999999;
  --small-font: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--contrast-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  user-select: none;
}

p,
label {
  font-size: var(--small-font);
}

button {
  background-color: var(--axis-color);
  font-size: var(--small-font);
  border: none;
  border-radius: 3px;
  margin: 2px;
  color: var(--contrast-color);
  min-width: 40px;
  min-height: 24px;
}

button:disabled {
  background-color: var(--attribute-color);
  color: var(--background-color);
}

* {
  box-sizing: border-box;
}

/**
 * Util
 */
.ma0 {
  margin: 0;
}

.mb16 {
  margin-bottom: 16px;
}

.my8 {
  margin: 8px 0;
}

.small-font {
  font-size: var(--small-font);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.non-select {
  user-select: none;
}

.relative {
  position: relative;
}

.attribute {
  color: var(--attribute-color);
}

/**
 * Component
 */
.ActiveLine {
  height: 100%;
  width: 1px;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

.ActiveCircle {
  position: absolute;
  border-radius: 50%;
  border: solid 2px var(--background-color);
  z-index: 2;
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

.HorizontalGridLine {
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: -1;
  user-select: none;
}

.VerticalGridLine {
  height: 100%;
  width: 1px;
  position: absolute;
  z-index: -1;
  user-select: none;
}

.Label {
  position: absolute;
  padding: 1px 3px;
  margin-top: 1px;
  border-radius: 0 3px 3px 0;
  pointer-events: none;
  user-select: none;
  touch-action: none;
}
